{{#each this}}
<h2 class="country-name">{{name}}</h2>
<ul class="country-list">
    <li><span class="country-item">Capital: </span> {{capital}}</li>
    <li><span class="country-item">Population: </span> {{population}}</li>
    <li><span class="country-item">Languages: </span>
        <ul class="languages-list">
            {{#each languages}}
            <li>{{name}}</li>
            {{/each}}
        </ul>
    </li>
</ul>

<img src="{{flag}}" alt="flag of {{name}}" width="300">
{{/each}}